<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>WedFave</title>
 	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- <form class="search" method="GET" action="/">
		<input name="query" placeholder="Search"></input>
	</form> -->
	<div>
		<a href="/auth/etsy"><button>Sign In With Etsy</button></a>
	</div>
	<script>
	</script>
</body>
</html>
